<div class="container">
  <form class="inputs" [formGroup]="form_req">
    <div class="form-group">
      <div class="title">Create New Ticket</div>
      <div class="fields row mb-5">
        <div class="assignee">
          <label for="assign" class="form-label">Assignee:</label>
          <select name="dropdown" (change)="chooseAssignee($event)">
            <option hidden selected>select</option>
            <option
              value="{{ users[i]['id'] }}"
              *ngFor="let user of users; index as i"
            >
              {{ user.user_name }}
            </option>
          </select>
        </div>
        <div class="sub">
          <label for="subject" class="form-label">Subject:</label>
          <br />
          <input type="text" formControlName="ticketsubject" />
        </div>
        <div class="cat col">
          <label for="stat" class="form-label">Status</label>
          <br />
          <input type="text" formControlName="ticketcategory" />
        </div>
        <div class="description">
          <label for="description" class="form-label">Description:</label>
          <br />
          <input type="text" formControlName="ticketdescription" />
        </div>

        <div class="file">
          <label for="subject" class="form-label">File Upload</label>
          <br />
          <input
            type="text"
            formControlName="ticketfile"
            aria-label="subject"
          />
        </div>
        <div class="cat col">
          <label for="tracker" class="form-label">Ticket Category:</label>
          <br />
          <input type="text" formControlName="ticketcategory" />
        </div>

        <div class="deadline">
          <label for="classtype" class="form-label">Deadline:</label>
          <br />
          <input type="text" formControlName="ticketdeadline" />
        </div>
        <div class="buttons input-box">
          <button type="button" (click)="onSubmitCreate()">Create</button>
          <button (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
