<div class="container">
  <form class="inputs" [formGroup]="form_req">
    <div class="form-group">
      <div class="title">Create New User</div>
      <div class="fields row mb-5">
        <div class="username">
          <label for="subject" class="form-label">User Name:</label>
          <br />
          <input type="text" formControlName="username" />
        </div>
        <div class="fname">
          <label for="subject" class="form-label">First Name:</label>
          <br />
          <input type="text" formControlName="firstname" />
        </div>
        <div class="lname">
          <label for="subject" class="form-label">Last Name:</label>
          <br />
          <input type="text" formControlName="lastname" />
        </div>
        <div class="email">
          <label for="subject" class="form-label">Email:</label>
          <br />
          <input type="email" formControlName="email" />
        </div>
        <div class="password">
          <label for="stat" class="form-label">Password:</label>
          <br />
          <input type="password" formControlName="passwod" />
        </div>

        <div class="buttons input-box">
          <button type="button" (click)="onUserCreate()">Create</button>
          <button (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
