<div class="container">
  <form class="inputs" [formGroup]="form_role">
    <div class="form-group">
      <div class="title">Create New Role</div>
      <div class="fields row mb-5">
        <div class="description">
          <label for="subject" class="form-label">Description:</label>
          <br />
          <input type="text" formControlName="description" />
        </div>
        <div class="initials">
          <label for="subject" class="form-label">Initials:</label>
          <br />
          <input type="text" formControlName="initials" />
        </div>

        <div class="buttons input-box">
          <button type="button" (click)="onRoleCreate()">Create</button>
          <button (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="modal modal-lg" tabindex="-1" role="dialog">   
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Ticket</h4>
            </div>
            <div class="modal-body">
                <form class="row g-3" [formGroup]="ticketForm" (ngSubmit)="onSubmitCreate()">
                    <div class="md-6">
                        <label for="assignee" class="form-label">Ticket ID</label>
                        <input type="text" formControlName="ticketID">
                    </div>
                    <div class="md-6">
                        <label for="assignee" class="form-label">Subject</label>
                        <input type="text" formControlName="ticketsubject">
                    </div>
                    <div class="mb-3">
                      <label for="description" class="form-label">Description:</label>
                      <input type="text"formControlName="ticketdescription " rows="3">
                  </div>
                    <div class="md-6">
                        <label for="subject" class="form-label">File Upload</label>
                        <input type="text" formControlName="ticketFile" aria-label="subject">
                    </div>
                    <div class="col-md-6">
                        <label for="tracker" class="form-label">Ticket Category</label>
                        <input type="text" formControlName="ticketcategory">
                    </div>
                    <div class="col-md-6">
                        <label for="classtype" class="form-label">Assignee</label>
                        <input type="text" formControlName="ticketassignee">
                    </div>
                    <div class="col-md-6">
                        <label for="classtype" class="form-label">Status</label>
                        <input type="text" formControlName="ticketstatus">
                    </div>
                    <div class="md-6">
                      <label for="classtype" class="form-label">Deadline</label>
                      <input type="text" formControlName="ticketdeadline">
                  </div>

                    
                </form>

            </div>
            <div class="modal-footer">
                <div class="text sign-up-text"><a routerLink="/ticket" (click)="close()">Take me back!</a></div>
                <div class="button input-box">
        
                    <input type="submit" value="Submit Ticket">
                </div>
            </div>
        </div>
    </div>
</div> -->
