* {
    margin: 5px;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

form .form-group .title {
    background-color: #73408B;
    padding: 15px;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.form-group {
    left: 60%;
}

.form-group label {
    font-size: 15px;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.form-group .description input {
    border-radius: 5px;
    border: none;
    width: 60%;
    height: 90px;
    background-color: #dbdbdb;
}

.form-group input {
    border-radius: 5px;
    margin-left: 15%;
    border: none;
    background-color: #dbdbdb;
    width: 60%;
    height: 60%;
}

.form-group button {
    text-align: center;
    left: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #73408B;
}

.form-group .buttons {
    margin-left: 30%;
    margin-top: 5%;
}
