 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;700;800&display=swap');
 * {
     font-family: 'Poppins', sans-serif;
 }
 
 .flip-card {
     margin: auto;
     background-color: #ffff;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
     width: 50%;
 }
 
 .text h1 {
     position: relative;
     padding-top: 3%;
     font-size: 30px;
     text-align: center;
     font-weight: 600;
     padding-bottom: 3%;
     color: #73408B;
 }
 
 .form-content {
     position: relative;
     left: 37%;
 }
 
 .input-box {
     padding-bottom: 3%;
 }
 
 #password-box {
     padding-bottom: 5%;
 }
 
 .title-login {
     color: #73408B;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     position: relative;
     right: 36%;
     font-size: 30px;
     text-align: center;
     bottom: 10%;
     padding-top: 5%;
     padding-bottom: 30px;
 }
 
 .inputhere {
     width: 40%;
     padding: 1%;
     font-size: 18px;
     position: relative;
     right: 6%;
     border: 0px solid #000000;
     border-bottom-width: 1px;
 }
 
 .button-login {
     cursor: pointer;
     font-weight: 500;
     background-color: #73408B;
     border-radius: 6px;
     width: 30%;
     border: none;
     //border-width: 0;
     color: #fff;
     font-size: 120%;
     height: 60px;
     //line-height: 1.15;
     margin: 12px 0 0;
     outline: none;
     position: relative;
     right: 10px;
     bottom: 10%;
     text-align: center;
     text-transform: none;
 }
 
 .sign-up-text {
     text-align: center;
     position: relative;
     right: 36%;
     padding-bottom: 10%;
 }