* {
    margin: 5px;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

form .form-group .title {
    background-color: #73408B;
    padding: 15px;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.form-group {
    left: 60%;
}

.form-group label {
    font-size: 15px;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.form-group .description input {
    border-radius: 5px;
    border: none;
    width: 60%;
    height: 90px;
    background-color: #dbdbdb;
}

.form-group input {
    border-radius: 5px;
    margin-left: 15%;
    border: none;
    background-color: #dbdbdb;
    width: 60%;
    height: 60%;
}

.form-group button {
    text-align: center;
    left: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #73408B;
}

.form-group .buttons {
    margin-left: 30%;
    margin-top: 5%;
}

// .container{
//     position: relative;
//     max-width: 850px;
//     width: 100%;
//     background: #fff;
//     padding: 40px 30px;
//     box-shadow: 0 5px 10px rgba(0,0,0,0.2);
//     perspective: 2700px;
// }
// .modal-content{
//     background-color: transparent;
//     border:none !important;
// }   
// .container form{
//     height: 100%;
//     width: 100%;
//     background: #fff;
// }
// .container .form-content{
//    display: flex;
//    align-items: center;
//    justify-content: space-between;  
// }
// form .form-content .title{
//     position: relative;
//     font-size: 24px;
//     font-weight: 500;
//     color: #333;
// }
// form .form-content .title:before{
//     content: '';
//     left: 0;
//     bottom: 0;
//     position: absolute;
//     height: 3px;
//     width: 25px;
//     background:teal;
//     margin-bottom: -5px;
// }
// form .signup-form .title:before{
//     width: 20px;
// }
// form .form-content .input-boxes{
// margin-top: 30px;
// }
// form .form-content .input-box{
//     display: flex;
//     align-items: center;
//     height: 50px;
//     width: 100%;
//     margin: 10px 0;
//     position: relative;
// }
// .form-content .input-box input{
//     height: 50px;
//     width: 100%;
//     outline: none;
//     border: none;
//     padding: 0 30px;
//     font-size: 16px;
//     font-weight: 500;
//     border-bottom: 2px solid rgb(0,0,0,0.2);
//     transition: all 0.3s ease;
// }
// .form-content .input-box input:focus,
// .form-content .input-box input:valid
// {
//     border-color: 7d2ae8;
// }
// .form-content .input-box i{
//     position: absolute;
//     color:teal;
//     font-size: 17px;
// }
// form .form-content .text{
//     font-size: 14px;
//     font-weight: 500;
//     color: #333;
// } 
// form .form-content .text a{
//     text-decoration: none;
// }
// form .form-content .text a:hover{
//     text-decoration: underline;
// }
// form .form-content .button{
//     color: #fff;
// }
// form .form-content .button input{
//     color: #fff;
//     background: teal;
//     border-radius: 6px;
//     padding: 0;
//     cursor: pointer;
//     transition: all 0.4s ease;
// }
// form .form-content .button input:hover{
//     background: teal;
// }
// form .form-content label{
//     color: teal;
// }
// form .form-content label:hover{
//     text-decoration: underline; 
// }
// form .form-content .admin-text,
// form .form-content .sign-up-text{
//     text-align: center;
//     margin-top: 25px;
// }
// .container #flip{
//     display: none;
// }
// @media (max-width: 730px){
//     .container .cover{
//         display: none;
//     }
//     .form-content .admin-form,
//     .form-content .signup-form{
//         width: 100%;
//     }
//     .form-content .signup-form{
//         display: none;
//     }
// }
// .container #flip:checked ~ .signup-form{
//     display: block;
// }
// .container #flip:checked ~ .admin-form{
//     display: none;
// }
// ::-webkit-input-placeholder {
//   color: grey;
//   font-weight: 400;
// }
// .post-dialog-container .mat-dialog-container {
//     background-color: var(--background);
//     box-shadow: none;
//   padding: 0px !important;
//   overflow: hidden !important;
// }
// mat-dialog-container {
//     background: grey !important;
//  }