<div class="container">
    <div class="title"><h4>Confirmation</h4></div>
        <div class="conBody">
            <span class="material-symbols-outlined">
                delete
            </span>
            <h1>Are you sure you want to delete this ticket?</h1>
        </div>
                
        <div class="buttons input-box">
            <button type="button" (click)="delete()">Delete</button>                
            <button  (click)="close()">Cancle</button>
        </div>

    </div>

