<nav class="navbar navbar-expand-lg " id="navbarborder">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="textcurrent" routerLink="/management/user">User</a>
            </li>
            <li class="nav-item active" id="current">
                <a class="nav-link" id="textcurrent">Role</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/management/request">Request</a>
            </li> -->
        </ul>
    </div>
</nav>


<!-- <button style="padding: 10px" type="button" class="add" (click)="openPopup()">Add
</button> -->
<div class="card">
    <!-- <div class="card-header">

        <button style="padding: 10px" type="button" class="add" (click)="openPopup()">Add
        </button>
    </div> -->
    <div class="modal modal-lg" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Ticket</h4>
                </div>
                <div class="modal-body">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="ticketid" class="form-label">User ID:</label>
                            <input type="text" class="form-control" aria-label="First name">
                        </div>
                        <div class="col-md-6">
                            <label for="assignee" class="form-label">First Name:</label>
                            <input type="text" class="form-control" aria-label="Last name">
                        </div>
                        <div class="col-md-6">
                            <label for="status" class="form-label">Status:</label>
                            <input type="text" class="form-control" aria-label="status">
                        </div>
                        <div class="col-md-6">
                            <label for="subject" class="form-label">Subject:</label>
                            <input type="text" class="form-control" aria-label="subject">
                        </div>
                        <div class="col-md-6">
                            <label for="tracker" class="form-label">Tracker:</label>
                            <input type="text" class="form-control" aria-label="tracker">
                        </div>
                        <div class="col-md-6">
                            <label for="classtype" class="form-label">Class Type:</label>
                            <input type="text" class="form-control" aria-label="classtype">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="role$.length > 0; else noRoles" class="usersTable">
        <table class="table table-striped">
            <thead class="theader">
                <tr>
                    <th scope="col">ROLE ID</th>
                    <th scope="col" style="width:28%;">INITIALS</th>

                    <th scope="col" style="width:40%;">DESCRIPTION</th>
                    <th scope="col" style="width: 100em;">ACTIONS</th>

                </tr>
            </thead>
            <tbody *ngFor="let role of role$; let i = index">
                <tr>
                    <th scope="row">{{ role.id }}</th>
                    <td style="font-weight: 500;">{{ role.initials }}</td>
                    <td>{{ role.description }}</td>

                    <td class="button">
                        <button type="button" class="btn btn-primary" style="background-color: #73408B; border: none;">
                          <span class="material-icons md-47">
                            edit
                            </span>
                        </button>
                        <button type="button" class="btn btn-danger" style="background-color: #73408B; border: none;">
                          <span class="material-icons md-48">
                            delete
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot><button id="addButton" (click)="openRoleCreate()">+</button></tfoot>
        </table>
    </div>

</div>
<!-- <button (click)="logout() ">Log out!</button> -->
<ng-template #noRoles>
    <hr />
    <h5>There are no roles listed!</h5>
</ng-template>
<!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
            This is a summary of the content
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
</mat-expansion-panel> -->


<router-outlet></router-outlet>