// .card{
//     position: absolute;  
//     padding: 10px;
//     right: 55px;
//     top: 16%;
//     width: 75%;
//     font-family: 'Poppins', sans-serif;
// }
// .card .table{
//     text-align: center;
// }

// .card th{
//     background-color: #73408B;
//     color: white;
//     font-size: 12px;
// }
// .modal-header{
//     background-color: #73408B;
//     color: white;
//     font-weight: 800;
// }

// .modal-footer {
//     background-color: #73408B;
// }
// .card-header{
//     background-color: #d5b8e2;
// }

// .modal-body{
//     background-color: #d5b8e2;
// }
// .card h2 {
//     text-align: left;
// }
// .card .add{
//     display: flex;
//     padding: 12px;
//     margin-left: auto;
//     background-color: #73408B;
//     color: white;
//     border-radius: 15%;
//     border: 0;
//     size: 20px;
// }

// * {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: 25px;
//     padding-left: 50px;
// }

// .accordion{
//     width: 768px;
//     margin: 0 auto;
//     overflow: hidden;
//     border-radius: 4px;
// }

// .accordion-header{
//     display: flex;
//     justify-content: space-between;
//     padding: 0.75rem 1rem;
//     width: 100%;
//     background: #73408B;
//     border: none;
//     outline: none;
//     border-bottom: 1px solid;
//     color: white;
//     cursor: pointer;
    
// }

// .accordion-header.active{
//     background-color: #73408B;
// }

// .accordion-body{
//     padding: 0 1rem;
//     background-color: aquamarine;
//     max-height: 0;
//     overflow: hidden;
//     transition: all 0.3s ease-in-out;

// }

// .accordion-body.active{
//     max-height: 10;
//     padding: 1rem;
// }
// .header{
//     background-color: #73408B;
//     color: white;
//     padding: 20px;
//     font-size: 20px;
// }

// .header .add{
//     display: flex;
//     padding: 12px;
//     margin-left: auto;
//     background-color: white;
//     color: #73408B;
//     border-radius: 15%;
//     border: 0;
//     size: 20px;
// }

// .header h2{
//     margin: 20px;
//     font-size: 100px;
// }

// .card {
//     background-color: rgb(212, 212, 212);
//     margin: 50px;
//     padding: 30px;
// }


h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: absolute;
    right: 125px;
    top: 1.7%;
    width: 75%;
}

.card {
    position: absolute;
    padding: 10px;
    right: 55px;
    top: 10%;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.card .table {
    text-align: center;
}

.card th {
    background-color: #73408B;
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
}

.modal-header {
    background-color: #73408B;
    color: white;
    font-weight: 800;
}

.modal-footer {
    background-color: #73408B;
}

.card-header {
    background-color: #d5b8e2;
    font-size: 30px;
    padding: 50px;
    font-weight: 800;
}

.modal-body {
    background-color: #d5b8e2;
}

.card h2 {
    text-align: left;
}

button {
    display: flex;
    text-align: center;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.add {
    position: absolute;
    right: 55px;
    top: 13%;
    width: 80px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    //display: flex;
    margin-left: auto;
    background-color: #73408B;
    color: white;
    border-radius: 10%;
    border: 0;
    size: 20px;
}

.btn-management {
    position: absolute;
    right: 55px;
    top: 2%;
    width: 100px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #73408B;
    color: white;
    top: 50px;
    left: 30px;
}

.btn-management:hover {
    background-color: #b381ca;
}

.btn-management:focus,
.btn-management:active {
    background-color: #b381ca;
    transition: none;
}

#navbarNav {
    position: absolute;
    left: 500px;
    bottom: 120px;
    width: 100px;
    height: 200px;
    border-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#navbarborder {
    width: 100px;
    height: 100px;
    //background-color: #d5b8e2;
    border-radius: 100px;
}

#current #textcurrent {
    color: #fff;
    background-color: #73408B;
    height: 40px;
    text-align: center;
    width: 100px;
    border-radius: 100px;
}

