<div class="header">
    <h2>Tickets</h2>
    <button>
      style="padding: 10px"
      type="button"
      class="add"
      (click)="openPopup()">Add
    </button>
</div>

<div *ngIf="tickets.length > 0; else noTickets">

    <!--START CARD-->
    <div *ngFor="let ticket of tickets; let i = index" class="card">
        <h2 class="card-header">Ticket ID: {{ ticket.id }}</h2>
        <div class="card-body">
            <h2>Assignee</h2>
            <p>{{ ticket.assignee }}</p>
            <h2>Sender</h2>
            <p>{{ ticket.sender }}</p>
            <h2>Category</h2>
            <p>{{ ticket.category }}</p>
            <h2>Subject</h2>
            <p>{{ ticket.subject }}</p>
            <h2>Description</h2>
            <p>{{ ticket.description}}</p>
            <br/>

        </div>

    </div>
    <!--END CARD-->
</div>

<!-- <button (click)="logout()">Log out!</button> -->
<ng-template #noTickets>
    <hr />
    <h5>There are no tickets listed!</h5>
</ng-template>

<router-outlet></router-outlet>